@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat:wght@600&family=Poppins:wght@500&family=Roboto:wght@100;400&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat:wght@600&family=Poppins:wght@100;500&family=Roboto:wght@100;400&family=Ubuntu:wght@300&display=swap');



* {
    padding: 0;
    margin: 0;
}



/* ===========================================header start here */

.header01 {
    display: flex;
    justify-content: space-between;
    background-color: #0060AA;
    padding-inline: 6.25rem;
    padding-block: 0.7rem;

}

.header03 {
    display: inherit;
    gap: .5rem;
}

.header02 h3 {
    color: rgba(255, 255, 255, 0.95);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.header03 h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-block: 2.2rem;
    align-items: center;
    position: relative;
    padding-left: 368px;

}

.manus ul {
    list-style-type: none;
    display: inline-flex;
    gap: 1.875rem;
}

/* nav a {
    text-decoration: none;
} */

.manus ul li a,
.manus ul li a.active {
    text-decoration: none;
    color: #484848;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.manus ul li a:before {
    content: '';
    background: #03233C;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.manus ul li a:hover::before {
    width: 100%;
}



.contactbtn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px;
    gap: 5px;
    background-color: #ED3237;
    border-radius: 10px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#contactbtn01 {
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#contactbtnimg {
    width: 20px;
    height: 20px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 191px;
}


.contactbtn:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba(227, 42, 18, 0.2);

    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
}

.contactbtn:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.0);
    background: rgb(224, 20, 27);
}








/* =========================================================header ends here */






/* ================================================================footer section start here */



.footer1 {
    display: flex;
    background-color: #03233C;
    padding: 3.125rem 6.25rem;
    gap: 20px;
}

.footer {
    background-color: #03233C;
}

.column {
    flex: 1;
    padding: 10px 20px;
}

.column:nth-child(1) {
    flex: 60;
}

.column:nth-child(2) {
    flex: 10;
}

.column:nth-child(3) {
    flex: 30;
}

.contact-row {
    display: flex;
    align-items: flex-start;

}

.column h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

input {
    padding: 7px 22px;
    width: 50%;
    background: #0A1E32;
    border: 2px solid #213549;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.50);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input:focus {
    outline: none;
}

.column #newshead {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.subscribe-btn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.contact-info h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    display: inline-flex;
    gap: 1rem;
    margin-bottom: 24px;
}

.contact-info {
    box-sizing: content-box;
}

.contact-info p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 5px;
}

#phone {
    color: var(--primery, #ED3237);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.quick-links {
    display: flex;
    flex-direction: column;

}

.quick-links h3 {

    margin-bottom: 20px;
}

.quick-links ul {
    list-style-type: none;
    padding: 0;
}

.quick-links li {
    margin-bottom: 5px;
}

.quick-links ul li a {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: 26px;
    text-decoration: none;
}

.recent-post {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.recent-post img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}



.newslatter {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    max-width: 77%;
}

.quick-links-heading {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.contactbtn2 {
    border-radius: 5px;
}

.post h3 {
    margin-bottom: 20px;
}

.post-content p:nth-child(1) {
    color: rgba(255, 255, 255, 0.65);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.post-content p:nth-child(2) {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-info {
    width: 80%;
}

.post a {
    color: #EB4438;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
}

.footer2 h3 {
    color: rgba(255, 255, 255, 0.65);
    text-align: left;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.footer2 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footerlinks a {
    color: rgba(255, 255, 255, 0.65);

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 20px;
    text-decoration: none;

}






/* ===================================================footer end here */






/* ==================================================index page start here */


.testi101 {
    background-image: url(img/testiheroimg.svg);


}

.testi101 img,
.testi102 {
    padding-inline: 120px;
}

#testibg {
    transform: translate(1px, 50px);
}

.testi102,
.testicontact {
    padding-block: 60px;
}

.testi102 h3 {
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.testi102 h1 {
    color: #333;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    text-transform: uppercase;
}

.testi103 {
    background-color: #ED3237;
}

.testicontact {
    padding-inline: 120px;
    display: flex;
    gap: 3.125rem;
}

.testicontact h3 {
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.testicontact p {
    color: #FFF;
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}