@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;


}

a {
    text-decoration: none;
}

span{
    color: var(--primery, #ED3237);
font-family: Poppins;

font-style: normal;



}



/* ===========================================header start here */

.header01 {
    display: flex;
    justify-content: space-between;
    background-color: #0060AA;
    padding-inline: 6.25rem;
    padding-block: 0.7rem;
    align-items: center;

}

.header03 {
    display: inherit;
    gap: .5rem;
}

.header02 h3 {
    color: rgba(255, 255, 255, 0.95);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.header03 h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-block: 2.2rem;
    align-items: center;
    position: relative;
    padding-left: 368px;

}

.manus ul {
    list-style-type: none;
    display: inline-flex;
    gap: 1.875rem;
}

/* nav a {
    text-decoration: none;
} */

.manus ul li a,
.manus ul li a.active {
    text-decoration: none;
    color: #484848;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.manus ul li a:before {
    content: '';
    background: #03233C;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.manus ul li a:hover::before ,
.manus ul li a.active::before {
    width: 100%;
}



.contactbtn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 12px 25PX;
    gap: 5px;
    background-color: #ED3237;
    border-radius: 10px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#contactbtn01 {
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#contactbtnimg {
    width: 20px;
    height: 20px;
}

.logo {
    position: absolute;
    top: 30px;
    left: 125px;
    z-index: 1;
    border: 2px solid white;
    background: white;
    padding: 5px;
}


.contactbtn:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba(227, 42, 18, 0.2);

    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
}

.contactbtn:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.0);
    background: rgb(224, 20, 27);
}








/* =========================================================header ends here */






/* ================================================================footer section start here */



.footer1 {
    display: flex;
    background-color: #03233C;
    padding: 3.125rem 6.25rem;
    gap: 20px;
}

.footer {
    background-color: #03233C;
}

.column {
    flex: 1;
    padding: 10px 20px;
}

.column:nth-child(1) {
    flex: 60;
}

.column:nth-child(2) {
    flex: 13;
}

.column:nth-child(3) {
    flex: 30;
}

.contact-row {
    display: flex;
    align-items: flex-start;

}

.column h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

input {
    padding: 7px 22px;
    width: 50%;
    background: #0A1E32;
    border: 2px solid #213549;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.50);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input:focus {
    outline: none;
}

.column #newshead {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.subscribe-btn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.contact-info h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    display: inline-flex;
    gap: 1rem;
    margin-bottom: 24px;
}

.contact-info {
    box-sizing: content-box;
}

.contact-info p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 5px;
}

#phone {
    color: var(--primery, #ED3237);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.quick-links {
    display: flex;
    flex-direction: column;

}

.quick-links h3 {

    margin-bottom: 20px;
}

.quick-links ul {
    list-style-type: none;
    padding: 0;
}

.quick-links li {
    margin-bottom: 5px;
}

.quick-links ul li a {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: 26px;
    text-decoration: none;
}

.recent-post {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.recent-post img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}



.newslatter {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    max-width: 77%;
}

.quick-links-heading {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.contactbtn2 {
    border-radius: 5px;
}

.post h3 {
    margin-bottom: 20px;
}

.post-content p:nth-child(1) {
    color: rgba(255, 255, 255, 0.65);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.post-content p:nth-child(2) {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-info {
    width: 80%;
}

.post a {
    color: #EB4438;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;

}

.footer2 h3 {
    color: rgba(255, 255, 255, 0.65);
    text-align: left;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.footer2 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footerlinks a {
    color: rgba(255, 255, 255, 0.65);

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 20px;
    text-decoration: none;

}






/* ===================================================footer end here */






/* ==================================================testimonial page start here */

.testi-1 {
    position: relative;
}

.testi-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(img/testiheroimg.svg);
    opacity: 0.2;
    /* 50% opacity */
}


.testi101 img,
.testi102 {
    padding-inline: 120px;
}

#testibg {
    transform: translate(1px, 50px);
}

.testi102,
.testicontact {
    padding-block: 60px;
}

.testi102 h3 {
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.testi102 h1 {
    color: #333;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    text-transform: uppercase;
}

.testi103 {
    background-color: #ED3237;
}

.testicontact {
    padding-inline: 120px;
    display: flex;
    gap: 3.125rem;
}

.testicontact h3 {
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.testicontact p {
    color: #FFF;
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.testi2 {
    padding: 30px 30px 70px 30px;
    background-color: #0060AA;
    width: 40%;
    border-radius: 15px;
    /* transform: translateY(-110%); */

}

.testimonial {
    position: relative;
}

.rating {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.testi2 h1 {

    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    text-transform: uppercase;
}

.rating0 h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.rating0 img {
    max-width: 75px;
    max-height: 75px;
}

.testi2 p {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.2px;
}

.testi001 {
    display: flex;
    justify-content: end;
    margin-right: 169px;
    position: absolute;
    top: 62px;
}

.circles {
    display: flex;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
    margin-top: 70px;
}

.circle.active {
    background-color: #ED3237;
    height: 10px;
    border-radius: 30%;
    /* margin-top: 5px; */
    padding-left: 5px;
}

.circle:hover {
    cursor: pointer;
}









.clipimg {
    position: relative;
}

.img1 {
    width: 324px;
    height: 589px;
}

.img2 {
    width: 238px;
    height: 589px;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 226px;
    border: 8px solid white;
    border-radius: 14px;
}




/*
========================================================testimonial ends here */





/* =================================================index start here */



.main-container {
    background-image: url(img/hero.svg);

    z-index: -1;
    margin-top: -8px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 150px 120px;
}

.main-container h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.main-container h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.main-container p {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.main-container h3,
.main-container h1 {
    padding-bottom: 25px;
}

.indexhero {
    margin-top: 25px;
}

.specelity {
    padding: 100px 120px 0;
}

.spheading {
    padding-left: 200px;
    padding-right: 200px;
}

.spheading h1 {
    color: #333;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    text-transform: uppercase;
}

.specelity-testi {
    display: flex;
    gap: 2rem;
    margin: 4.375rem 0 4.25rem 0;
}

.spbox {
    background: #F6FBFF;
    position: relative;
    padding: 1.875rem 1.56rem;
    flex: 1;
}

.spbox #spdesign {
    position: absolute;
    bottom: 0;
    right: 0;
}

.spbox1 {
    display: flex;
    justify-content: space-between;


}

.spbox hr {
    opacity: 0.20000000298023224;
    background: #0060AA;
}

.spbox1 h1 {
    color: var(--secondary, #0060AA);
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    opacity: 0.1;
    padding-bottom: 2rem;
}

.spbox p {
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;

    padding-top: 2.2rem;
}

.aboutus {
    background-image: url(img/abousecbg.svg);
    padding: 4.37rem 7.5rem;
    display: flex;
    gap: 3.12rem;
    align-items: center;

}

.aboutus0201 {
    display: flex;
    align-items: center;
    padding-block: 1rem;
    gap: 1.2rem;
}

.aboutus0201 #aboutP {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.aboutus01 {
    position: relative;
}

.aboutus02 {
    /* padding-top: 2.6rem; */
}

.aboutus02 p {
    color: #707070;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.aboutus0101 {

    background-color: white;
    padding: 1rem 1.8rem 1rem 2.03rem;
    position: absolute;
    bottom:6rem;

}

.aboutus0101 span {
    color: var(--primery, #ED3237);
    leading-trim: both;
    text-edge: cap;
    font-family: Rajdhani;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aboutus0101 h1 {
    color: #333;
    font-family: Rajdhani;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 1.3rem;
}

.aboutus02 h3 {
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.aboutus02 h1 {
    color: #333;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
    text-transform: uppercase;
}

.aboutus02 h4,
.points h4 {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    color: #333;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 162.5% */
    text-transform: capitalize;
    padding-bottom: .8rem;
}


/* ======================================our product section index page START*/

.ourproduct {
    background-image: url(img/ourprohero.svg);
    padding: 4.37rem 7.5rem;
    margin-top: 6rem;
}

.ourproduct h3 {
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.ourproduct h1 {
    color: #333;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    /* 127.083% */
    text-transform: uppercase;
}

.ourindex {
    display: flex;
    justify-content: center;
}

#ourindex {
    padding-inline: 1.8rem;
    gap: 0.7rem;
}

.our-main {
    padding-block: 4.31rem;

    display: flex;
    gap: 1.875rem;

}

.our-main2 {
    margin-top: -6.8rem;
}

.our-main-p .our-main01 {
    display: flex;
    gap: 2rem;
    align-items: center;

}

.our-main-p {
    background-color: white;
    padding: 1.5rem;
    position: relative;
    flex: 1;

}

.our-main-p p {
    padding-block: 1rem;
    color: #7F7F7F;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 166.667% */
}

.our-main-p h4 {
    color: var(--primery, #ED3237);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 88.889% */
    text-transform: capitalize;
}

.our-main01 h1 {
    color: #333;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 93.75% */

}

#our-ser-img {
    position: absolute;
    bottom: 0;
    right: 0;
}










/* =========================================our product section index page END */



.wp {
    background: none;
}

.wp-main {
    display: flex;
    margin-block: 4.3rem;

}

.wp-box {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    position: relative;


}

.wp-box hr {
    width: 99px;
    position: absolute;
    right: 0;
    top: 44px;
    border: dashed 1px;
}

#r1 {
    right: 4px;
}

#r2 {
    right: 1.7rem;
}

#l1 {
    left: 3px;
}

#l2 {
    left: -1px;
    width: 128px;
}

#l3 {
    left: -25px;
    width: 125px;
}

.wp-box h2 {
    color: #333;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
}

.wp-box p {
    color: #7F7F7F;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
}

.news-blogs {
    padding: 4.37rem 7.5rem;

}

.news {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsheading h4 {
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.newsheading h2 {
    color: #333;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    /* 127.083% */
    text-transform: uppercase;
}

#newsbtn {
    height: 36px;
    gap: 7px;
    padding-inline: 20px;
}

.blog {
    border-radius: 10px;
    border: 1px solid #E3F3FF;
    background: #F6FBFF;
    padding: 1.2rem;
}

.blog hr {
    margin-bottom: 20px;
}

.news-detail p {
    color: #7F7F7F !important;

}

.news-detail p:nth-child(2) {
    color: #333 !important;
}

.news-box {
    box-sizing: border-box;
    background-image: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #000 100%), url(img/news2.svg);
    background-repeat: no-repeat;
    padding: 1.4rem;
    border-radius: 10px;
    border: none !important;
    background-size: cover;
    height: 100%;


}

.newsbox2 {
    background-image: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #000 100%), url(img/news4.svg);
}

.news-box h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 130% */
    padding: 5px 20px;
    border-radius: 5px;
    background-color: red;
    width: 42%;
}

.blogs {
    display: flex;
    justify-content: space-between;
    gap: 4.125rem;
    margin-block: 5.5rem;
}

#second-head {
    width: 30.5%;
}

.news-box p {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-bottom: dashed 1px;
    padding-top: 14rem;
}


.news-box h5 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.news-time {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}



.contact-index {
    display: flex;

    /* backdrop-filter: blur(30px); */
    padding: 0rem 0rem;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: opacity(0.1);
}

.box22{
    position: absolute;
    padding: 3.19rem;
    width: 55.6875rem;
    border-radius: 0.9375rem;
background: #FFF;
box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.14);
width: 55.6875rem;
height: 35.25rem;
right: 6.25rem;
top: 7.81rem;
}
.nameemail {
	display: flex;

	gap: 20px;
}
.box h2 {
    color: #333;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.8125rem; /* 127.083% */
    text-transform: uppercase;
}

.box p {
    margin-top: 10px;
    color: #7F7F7F;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 120% */
    letter-spacing: 0.0125rem;
}

form {
    margin-top: 20px;
}

form input,
form textarea {
    width: 77%;
    padding: 0.8rem;
    margin-bottom: 1.4rem;
    border: 1px solid var(--gray-5, #E0E0E0);
    background: rgba(255, 255, 255, 0.06);
}
 form textarea {
	width: 100%;
	padding: 0.8rem;
	margin-bottom: 1.4rem;
	border: 1px solid var(--gray-5, #E0E0E0);
	background: rgba(255, 255, 255, 0.06);
	height: 6.8rem;
}

form input::placeholder,
form textarea ::placeholder {
    color: rgba(127, 127, 127, 0.80);
    font-family: Poppins;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 141.176% */
    letter-spacing: 0.01063rem;
}

form button {
    display: block;
    width:100%;
    padding: 10px;
    border-radius: 5px;
    background: #ED3237;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.box iframe {
    width: 90%;
    height: 32.81rem;
    border-radius: 10px;
}




/* ==============================================================index page completed */




/* =======================================================about page start here */


.all-hero {
    background: linear-gradient(rgba(0, 96, 170, 0.60), rgba(0, 96, 170, 0.60)), url(img/abouthero.svg);
    backdrop-filter: blur(30px);

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 5.6rem;
}

.all-hero h1 {
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.our-mission {
    display: flex;
    padding: 7rem 7.5rem;
    align-items: center;
    gap: 7.3rem;

}

.mission {
    width: 50%;
}

.mission h3 {
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 0.2rem;
}

.mission h1 {
    color: #333;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 1.8rem;
}

.mission p ,.para2 {
    text-align: left;
    color: #7F7F7F;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.036px;
    text-transform: uppercase;
    padding-bottom: 1.2rem;
}

.vision {
    gap: 15rem;
}


/*
=====================================================about page end here */



/* =========================================================product page start here */
.products {
    padding: 0.37rem 7.5rem;
    position: relative;
    margin-top: 7rem;
}
.pro-img{
    position: relative;

}

.pro-head {
	display: flex;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.11);
	padding: 1.4rem;
	gap: 1.8rem;
	align-items: center;
	/* width: 21.3rem; */
	position: absolute;
	/* left: 424px; */
	top: -64px;
	right: -159px;
}

.mis {
    padding-top: 7rem;
}

.pro-head h1 {
    color: #333;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#icon3 {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.pro-dec {
    display: flex;
    justify-content: space-around;
}

.points {
    display: flex;
    justify-content: space-between;
    /* gap: 6rem; */
    width: 80%;
    margin-block: 2rem;
    padding-inline: 6.25rem;
}




/* =========================================================product page end here */



/* ===================================================blog start here */


.news-blog-hero {
    padding: 4.37rem 7.5rem;
    text-align: center;
}


.news-blog-hero h3 {
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.news-blog-hero h1 {
    color: #333;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    /* 127.083% */
    text-transform: uppercase;
}

.news2 {
    display: flex;
    gap: 1.3rem;
}

.news0101 {
    background: none;
    border-radius: 10px;
    background: #FBFBFB;


}

.news-img {
    position: relative;

}


.news-img h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;

}
.h1{
    padding: 5px 20px;
    border-radius: 5px;
    background-color: red;
    /* width: 33%; */
    position: absolute;
     top: 26px;
    left: 26px;
}
.h11{
    padding: 5px 20px;
    border-radius: 5px;
    background-color: red;
    /* width: 33%; */
     position: absolute;
    /* top: 26px;
    left: 26px; */
}
.news-time2 h5 {
    color: black;
}

.news-details h2 {
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 108.333% */
    text-align: left;
    padding-block: 10px;
}

.news-details {
    padding: 15px;
    text-align: left;
}

.news0101 {
    /* width: 33%; */
    padding: 1rem;
    margin-block: 20px;
}

.news-details p {
    color: #7F7F7F;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
    padding-top: 0;
    border: none;
    text-align: left;
    padding-block: 10px;
}

.news-details h4 {
    /* margin-right: 14rem; */
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: #ED3237;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;

    /* 144.444% */
}
.news1{
    margin-block: 4rem;
}
.news-time2 h5{
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.pagination{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.pagination h1{
    color: #ED3237;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 108.333% */
padding: 20px;
}
.pagination a{
    border-radius: 0.625rem;
background: #F2F2F2;
}
.pagination a:hover{
    background-color: red;

}
.pagination h1:hover{
    color: white ;
}
.hamburger{
    display: none;
    cursor: pointer;


}
.bar{
    display: block;
    /* color: black; */
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
.box img{
    height: 100%;
}



@media  (max-width:768px) {
    body{
        /* overflow-y: hidden ; */
    }
    .header01 {

	padding-inline: 0.94rem;
	padding-block: 0.7rem;
}
.header02 h3 {
	font-size: 12px;
    padding-right: 47.5px;
}
.header03 h3{
    display: none;
}



/* Your existing CSS styles */

/* Add the following styles for hiding the navigation menu and showing the hamburger icon */
.manus ul {
	position: fixed;
	right: -100%;

	gap: 0;
	flex-direction: column;
	width: 100%;
	text-align: center;
	transition: right 0.3s ease;
	background-color: #f0f0f0;
	z-index: 1;
	/* overflow: hidden; */
	/* left: 20px; */
	padding: 20px;
}
.manus.active ul {
	right: 0;
	top: 162px;
	text-align: left;
}

.hamburger {
    display: block;
    cursor: pointer;
    padding-right: 20px;
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px auto;
    transition: 0.4s;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Add the following style for hiding the contact button initially */
.headcontact {
    display: none;
}
.logo {

	left: 34px;
	z-index: 1;
    top: 0px;
    border: none;
    background: none;
    padding: 0;
}
.main-container{
    margin-top: 0;
    padding: 2.37rem 0.94rem;
}
.main-container h3{
     font-size: 0.937rem;
     padding-bottom:0.5rem ;
}
.main-container img{
    width: 41%;
}
.main-container h1{
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}
.main-container p{
    font-size: 0.8rem;
}
#contactbtn01{
    font-size: 0.8rem;
}
.specelity{
    padding: 2.37rem 0.94rem;
}
.spheading{
    padding: 0;
}
.spheading h1{
    font-size: 1.25rem;
    line-height: 1.25;
}
.specelity-testi {

	overflow: auto;
}
.spbox p {
	font-size: 0.81rem;
	line-height: 1rem;
    padding-top: 0.94rem;
}
.spbox1{
    width: 2.9375rem;
height: 2.9375rem;
gap: 131px;
/*   */
}
.spbox hr{
    margin-top: 0.94rem;
}
.spbox1 h1{
    font-size: 2.1rem;
}
.spbox{
    min-width: 268px;


}
.aboutus{
    padding: 2.37rem 0.94rem;
    flex-direction: column;

}
.aboutus01 img{
    width: 100%;
}
.aboutus0101{
    padding: 1rem 3.8rem 1rem 2.41rem;
}
.aboutus0101 span {
	font-size: 3.75rem;
}
.aboutus0101 h1 {
	font-size: 1.5rem;

}
.aboutus02 h3 {
	font-size: 0.9375rem;
}
.aboutus02 h1{
    font-size: 1.25rem;
    line-height: normal;
}
.aboutus0201 #aboutP {
	font-size: 0.875rem;
}
.aboutus02 p ,.aboutus02 h4, .points h4{
	font-size: 0.81rem;
	line-height: normal;


}
.aboutus02 {
	padding-block: 0rem;
}
.ourproduct {

    padding: 2.37rem 0.94rem;
    margin-top: 0;


}
.ourproduct h1 {
	font-size: 1.25rem;
	line-height: normal;
    text-align: left;
    padding-right: 17px;

}
.ourproduct h3 {
	font-size: 0.937rem;
    text-align: left;
}
.our-main{
    padding-block: 0.94rem;
}
.our-main01 img{
    width: 3.4375rem;
height: 3.4375rem;
}
.our-main-p .our-main01 {

	gap: 0.62rem;

}
.our-main-p{
    width: 17.438rem;
}
.our-main-p p {
	font-size: 0.81rem;
	line-height: normal;
}
.our-main-p h4 {
	font-size: 0.81rem;

}
.ourproduct>div{
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 20px;
}
.our-main2{
    margin-top: 0;
}
.wp h3,.wp h1{
    text-align: center;
}
.wp-main {

	margin-block: 1.88rem;
}
.wp-box hr{
    display: none;

}
.wp-box h2 {
	font-size: 1.25rem;
	line-height: 1.8rem;
}
.wp-box p {
	font-size: 1rem;
	line-height: 1.6rem;
    padding-inline: 56px;
}
.wp-box{
    min-width: 403px;
}
.testi101 img, .testi102 {
	padding-inline: 0.94rem;
    text-align: center;
}
#testibg {
	transform: translate(150px, 50px);

width: 7.5rem;
height: 7.5rem;
}
.testi102 h3 {
    font-family: Poppins;
	font-size: 0.93rem;
}
.testi001 {
	display: flex;
	justify-content: end;
	margin-right: 169px;
	position: absolute;
	top: 274px;
	width: 100%;
}
.testi102 h1 {
	font-size: 1.25rem;
	line-height: normal;
}
.testicontact {
	padding-inline: 0.94rem;
    gap: 1.425rem;

}
.testicontact h3{
    font-size: 0.81rem;
}
.testicontact p{
    font-size: 1rem;
}
.testi102{
    padding-bottom: 10.81rem;
}
.testi103 {
	padding-top: 12.1rem;
}
.testi2 h1 {
	font-size: 1.25rem;
	line-height: 1.09rem;
	text-align: center;
}
.rating0 h3{

font-size: 1rem;

line-height: normal;

}
.testi2 {
	width: 100%;
	margin: 0.94rem;
}
.testi2 p{
font-size: 0.8125rem;

line-height: normal;
}
.testi2{
    padding: 30px;
}
.news-blogs {
	padding: 2.37rem 0.94rem;
}
.newsheading h4{
font-size: 0.9375rem;

}
.newsheading h2{
font-size: 1.25rem;
line-height: normal;
text-transform: uppercase;
padding-right: 40px;
}
.news{
    flex-direction: column;
}
#newsbtn{
    margin-top: 20px;
}
.blogs{
    margin-block: 2.5rem;
    flex-direction: column-reverse;
}
.footer1{
    padding: 2.37rem 0.94rem;
    flex-direction: column;
}
.column #newshead{
    font-size: 1.25rem;

line-height: normal;

}
.newslatter{
    flex-direction: column;
    gap: 0.94rem;
    max-width: 100% !important;
}
input{
    width: 100%;
}
.contactbtn2 {
    justify-content: center;
	width: 100%;
}
.contact-info h3{
    font-size: 0.875rem;

line-height: normal;
}
.contact-info p{

font-size: 0.8125rem;
line-height: normal;
}
#phone{
    font-size: 0.875rem;
    line-height: normal;

}
.quick-links h3{

font-size: 1.25rem;
line-height: 1.75rem;
}
.quick-links ul li a{
    line-height: normal ;
}
.footer2 h3{
    font-size: 0.75rem;
    line-height: normal;
}
.footer2 {

	flex-direction: column;
	gap: 20px;
}
.box img{
    width: 100%;

}
.box h2{

font-size: 1.25rem;
line-height: normal;

}
.box p{
font-size: 0.875rem;
line-height: normal;
}
.box.box22 {
	width: 21.5625rem;
	height: 39.25rem;
}
.box22 {

	right: 2.25rem;
	top: 17.81rem;
    padding: 0.94rem;
}
.contact-index{
    margin-bottom: 37rem;
}
.nameemail {

	gap: 0px;
	flex-direction: column;
}
form input, form textarea {
	width: 100%;

}
.our-mission{
    flex-direction: column-reverse;
    padding: 2.37rem 0.94rem;
    align-items: self-start;
}
.img2{
    left: 133px;
}
.vision-mission{
    flex-direction: column;
}
.mission h3{
font-size: 0.9375rem;

line-height: normal;
}
.mission h1{
font-size: 1.25rem;
line-height: normal;
}
.mission{
    width: 100%;
}
.mission p ,.para2{
font-size: 0.8125rem;
line-height: normal;
}
.para span{
    font-size: 1rem !important;
}
.para {
    font-size: 1rem !important;
}
.our-mission{
    gap: 4.3rem;
}
.points{
    padding-inline: 0.94rem;
    flex-direction: column;
}
.products{
    padding: 0px 0.94rem;


}
.pro-dec {

	flex-direction: column;
}
.pro-img img {
    width: 100%;
}
.mis {
	padding-top: 4rem;
}
.pro-head h1{
font-style: normal;
line-height: normal;
font-size: 1rem;
}
.pro-head{
    padding: 0.94rem;
}
.pro-head {
	/* left: 164px; */
	top: 90%;
	width: 10.5rem;
	gap: 0.63rem;
	right: 0;
	bottom: 0;
	/* padding: 1.5rem; */
	padding-block: 2rem;
}
.pro-head img{
    width: 2.6875rem;
    height: 2.5rem;
    flex-shrink: 0;
}
#icon3{
    width: 0.75rem;
height: 0.875rem;
}
.all-hero h1{
    font-size: 1.5rem;
}
.all-hero img{
    width: 6.125rem;
height: 0.5rem;
}
.news-blog-hero h3{
font-size: 0.9375rem;
line-height: normal;
text-align: left;
}
.news-blog-hero{
    padding: 2.37rem 0.94rem;

}
.news-blog-hero h1{
font-size: 1.25rem;
line-height: normal;
text-align: left;
}
.news2{
    overflow: auto;
    gap: 1.3rem;
}
.news0101{
    width: 100%;
}
.news-img{
    overflow: hidden;
}
.news-details p{
    font-size: 0.8rem;
    line-height: normal;
}
.news-details h2{
    font-size: 1.25rem;
    line-height: normal;
}
.news-details h4{
    margin-right:11.4rem;
}
.news1{
    margin-block: 0;
}

#col-1,
#col-2,
#col-3{
    width: 33% !important;
    color: #333 !important;
    font-family: Poppins;
    font-size: 0.75rem !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
}
.table td{
    border: none;
}
.table td{
    padding: 0.5rem !important;
    color: #7F7F7F;
font-family: Poppins;
font-size: 0.625rem !important;
font-style: normal;
font-weight: 400 !important;
line-height: normal;
}
.points{
    gap: 0;
}
.table{
    margin-top: 0rem !important;
}
.para2{
    padding-inline:0 !important ;

}
#para2{
    padding-top: 0 !important;
}




}

/* @media  (max-width: 766px) {
    .box .box22 {
        right: 0.35rem;
        top: 17.81rem;
        padding: 0.94rem;
    }

} */


@media (max-width: 368px){
.box22 {
  right: 0.45rem !important;
  top: 17.81rem;
  padding: 0.94rem;
}
nav{
    padding-left: 304px !important;
}
.news-box h3 {

	font-size: 14px;

}
}
@media (min-width: 369px) and (max-width: 385px){
    .box22 {
      right: 1.25rem !important;
      top: 17.81rem;
      padding: 0.94rem;
    }
    }
    .vision{
        padding-top: 0;
    }


    .gray{
        background-color: #F4F4F4 !important;

    }
    .table{
        border-radius: 0.625rem;
border: 1px solid #E9E9E9;
background: #FFF;
margin-top: 4rem;
    }


#col-1{
    width: 50%;
    color: #000;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#col-2{
    width: 25%;
    color: #000;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#col-3{
    width: 25%;
    color: #000;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.table td{
    border: none;
}
.table td{
    padding: 1.8rem;
    color: #000;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.point1{
    display: flex;
    flex-direction: column;
}
.dynamic-row{
    text-align: center ;
    border-top: 1px solid #ccc;
}
.para{
    padding-bottom: 5px !important;
    margin-bottom: 0.2rem !important;
}
.para span{
    font-size: 25px ;
    font-weight: 800 ;
}
.para2{
    padding-inline:4rem ;

}
#para2{
    padding-top: 4rem;
}
